.TshirtList {
  &__list {
    display: grid;
    gap: 20px;
    grid-template-columns: 180px 180px;
    margin-bottom: 100px;
  }
  @media all and (min-width: 1000px) {
    &__list {
      grid-template-columns: 200px 200px 200px 200px 200px;
    }
  }
}
