@import 'core/Reset';
@import 'layout/Filters';
@import 'layout/TshirtsList';
@import 'layout/TshirtItem';

.index {
  &__flex-container {
    display: flex;
    justify-content: center;
    &__main-container {
      display: inline-block;
    }
  }
}
